@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 alex's site'</h1>
    <p>“It is not the strongest of the species that survive, nor the most intelligent, but the one most responsive to change.”</p>

        <button>push me!</button>


</div>
